@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;

}
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url("rk1.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.contact .content{
    max-width: 800px;
    text-align: center;
}
.contact .content h2{
    color:#fff;
   font-size: 36px;
   font-weight: 500px;

}
.contact .content p{
    color: rebeccapurple;
    font-weight: 300px;
    font-size: 25px;

}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;


}
.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;

}
.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;


}
.container .contactInfo .box .text{
    display: flex;
    flex-direction: column;
    color:black;
    margin-left: 20px;
    font-size: 16px;
}
    .container .contactInfo .box .text h3{
        font-weight: 500;
        color: #00bcd4;

    }
.container .contactInfo .box .icon{
    min-width: 30px;
    height: 25px;
    background: #fff;
    justify-content: center;
    display: flex;
    border-radius: 50%;
    font-size: 22px;
}

    
    